/* ============= @media screen - max-width : 1200px =============== */

@media screen and (max-width: 1199px) {

    /* ========== common-styling ========== */

    body {
        overflow-x: hidden;
    }

    /* ============ nav-top ============ */

    .nav-top .container .contact-details {
        width: 55%;
        padding: 0 20px;
    }

    .nav-top .container .logo {
        left: 0;
        top: 0;
    }

    .nav-top .container .logo img {
        width: 90%;
    }

    /* ============ navbar ============ */

    .navbar .container .nav-menu ul {
        padding-right: 25px;
    }

    .navbar .container .nav-menu ul li.drop-down .drop-down-menu {
        width: 14vw;
        top: 5vh;
    }

    .navbar .container .nav-menu .contact-btn {
        padding: 0 6px 0 15px;
        i {
            font-size: 30px;
            padding-left: 10px;
        }
    }

    /* ============= banner ============= */

    .banner .container .row {
        width: 80%;
        margin-top: 10%;
    }

    .banner .container .row .heading {
        justify-content: end;
    }

    .banner .container .row .heading h1 {
        font-size: 70px;
        padding-bottom: 15px;
    }

    .banner .container .row .heading .cursive {
        font-size: 35px;
    }

    .banner .container .row .banner-btn .book-btn {
        padding-right: 5px;
        padding-left: 20px;
    }

    .banner .container .row .banner-btn .book-btn i {
        padding-left: 10px;
    }

    .banner .container .row .banner-btn .dial-btn {
        padding-right: 5px;
        padding-left: 20px;
    }

    .banner .container .row .banner-btn .dial-btn i {
        padding-left: 10px;
    }

    .banner .container .scroll-down {
        right: -90%;
        top: 55%;
    }

    .banner .container .scroll-down .arrow {
        transform: rotate(0deg);
        padding-right: 10px;
    }

    /* ============== amenities ============= */

    .amenities {
        height: 125vh;
        top: 85vh;
    }

    .amenities .container .row {
        height: 80%;
        padding: 5% 0;
    }

    .amenities .container .row .heading h2 {
        font-size: 40px;
        padding-bottom: 5px;
    }

    .amenities .container .row .heading p {
        font-size: 15px;
    }

    .amenities .container .row .heading .cursive {
        font-size: 40px;
    }

    .amenities .container .row .facilities-card-layout {
        height: 70%;
    }

    .amenities .container .row .heading button {
        padding-left: 20px;
    }

    .amenities .container .row .facilities-card-layout .swiper .swiper-wrapper {
        height: 65%;
    }

    .amenities .container .row .facilities-card-layout .swiper .swiper-wrapper .swiper-slide .facility-card {
        padding: 10px;
        justify-content: center;
    }

    .amenities .container .row .facilities-card-layout .swiper .swiper-wrapper .swiper-slide .facility-card .card-heading h3 {
        font-size: 24px;
    }

    .amenities .container .row .background-image {
        left: -25%;
        top: 35%;
    }

    /* ============ things-to-do ============= */

    .things-to-do {
        height: 300vh;
        top: 100vh;
    }

    .things-to-do .container .row .heading {
        height: 35%;
    }

    .things-to-do .container .row .things-card-layout {
        height: 65%;
    }

    .things-to-do .container .row .heading .image-content #lake {
        top: 12%;
    }

    .things-to-do .container .row .heading .image-content #road {
        top: 12%;
    }

    .things-to-do .container .row .heading .image-content #road-2 {
        top: 56%;
    }

    .things-to-do .container .row .heading .text-content {
        padding-right: 15px;
    }

    .things-to-do .container .row .heading .text-content h2 {
        font-size: 40px;
    }

    .things-to-do .container .row .heading .text-content .more-things {
        padding-left: 20px;
    }


    /* ============== testimonial ================= */

    .testimonial {
        height: 150vh;
        top: 480vh;
    }

    .testimonial .container .row .heading {
        width: 80%;
        padding-bottom: 40px;
    }

    .testimonial .container .row .heading h2 {
        font-size: 40px;
    }

    .testimonial .container .row .test-card-layout {
        height: 60%;
        align-items: start;
    }

    .testimonial .container .row .test-card-layout .swiper {
        align-items: start;
    }

    .testimonial .container .row .test-card-layout .swiper .swiper-wrapper {
        height: 80%;
    }

    .testimonial .container .row .test-card-layout .swiper .swiper-wrapper .swiper-slide .test-card .card-heading .user-desc .user-info h3 {
        font-size: 22px;
    }

    .testimonial .container .row .test-card-layout .swiper .swiper-pagination {
        height: 20%;
    }

    .testimonial .container .row .test-card-layout .tree {
        left: -20%;
        top: 55%;
    }

    .testimonial .container .row .test-card-layout .house {
        left: 0%;
        top: 85%;
    }

    .testimonial .container .row .test-card-layout .bus {
        left: 60%;
        top: 74.5%;
    }

    /* ============= booking =============== */

    .booking {
        height: 100vh;
        top: 205vh;
    }

    .banner .container .row {
        width: 100%;
    }

    .booking .container .row .heading {
        width: 50%;
    }

    .booking .container .row .heading h2 {
        width: 90%;
        font-size: 50px;
    }

    .booking .container .row .heading p {
        width: 100%;
        font-size: 16px;
    }

    .booking .container .row .booking-btn .book-btn {
        padding-left: 20px !important;
    }

    .booking .container .row .booking-btn .dial-btn {
        padding-left: 15px !important;
    }

    .booking .container .row .booking-btn .dial-btn i {
        padding-left: 15px;
    }


    .booking .container .row .image-content .village {
        left: -10%;
        top: 20%;
    }

    .booking .container .row .image-content .village img {
        width: 80%;
    }

    .booking .container .row .image-content .vehicle {
        left: 44%;
        top: 25%;
        width: 53%;
        height: 57%;
    }

    .booking .container .row .image-content .vehicle img {
        width: 98%;
    }

    /* =========== footer =========== */

    footer {
        height: 90vh;
        top: 690vh;
        z-index: -1;
    }
    
    .footer-primary {
        height: 80%;
    }

    .footer-primary .container {
        justify-content: end;
    }

    .footer-primary .container .contact-details {
        padding: 2% 10%;
    }
    
    .footer-secondary {
        height: 10%;
        padding: 3% 0;
    }

}

/* ============= @media screen - max-width : 1024px =============== */

@media screen and (max-width: 1024px) {
    
    /* ============ things-to-do ============== */

    .things-to-do {
        height: 260vh;
    }

    .things-to-do .container .row .heading .image-content #lake {
        width:70%;
        left: 5%;
    }

    .things-to-do .container .row .heading .image-content #road {
        left: 80%;
        width: 50%;
    }

    .things-to-do .container .row .heading .image-content #road-2 {
        left: 80%;
        top: 61%;
        width: 50%;
    }

    /* ============== testimonial ================= */

    .testimonial {
        top: 440vh;
    }

    .testimonial .container .row .test-card-layout {
        height: 60%;
    }

    .testimonial .container .row .test-card-layout .swiper .swiper-wrapper {
        height: 65%;
    }

    .testimonial .container .row .test-card-layout .swiper .swiper-pagination {
        height: 25%;
    }

    /* ============ booking ============ */

    .booking .container .row .heading p{
        width: 85%;
    }

    .booking .container .row .image-content {
        width: 48%;
    }

    .booking .container .row .image-content .vehicle {
        left: 42%;
    }

    .booking .container .row .image-content .vehicle img {
        width: 96%;
    }

    /* =========== footer =========== */

    footer {
        height: 90vh;
        top: 650vh;
        z-index: -1;
    }

    .footer-primary .container .contact-details {
        padding: 2% 7%;
    }

}

/* ============= @media screen - max-width : 992px =============== */

@media screen and (max-width: 991px) {

    /* ============ nav-top ============ */

    .nav-top .container .logo img{
        width: 80%;
    }

    .nav-top .container .contact-details {
        width: 70%;
    }

    .nav-top .container .contact-details .address .detail-text {
        font-size: 14px;
    }

    .nav-top .container .contact-details .phone .detail-text {
        font-size: 14px;
    }

     /* ============ navbar ============ */

     .navbar .container .nav-menu {
        width: 75%;
     }

     .navbar .container .nav-menu ul{
        width: 70%;
    }

    .navbar .container .nav-menu ul li.drop-down .drop-down-menu {
        width: 18vw;
        top: 5vh;
    }

    /* ============= banner ============= */

    .banner .container .row .heading .cursive {
        font-size: 30px;
    }

    .banner .container .row .heading h1 {
        font-size: 50px;
        width: 70%;
    }

    .banner .container .row .heading p {
        font-size: 15px;
    }

    .banner .container .row .banner-btn .book-btn {
        padding-right: 5px;
        padding-left: 10px;
        font-size: 15px;
    }

    .banner .container .row .banner-btn .book-btn i {
        padding-left: 10px;
        font-size: 30px;
    }

    .banner .container .row .banner-btn .dial-btn {
        padding-right: 5px;
        padding-left: 10px;
        font-size: 15px;
    }

    .banner .container .row .banner-btn .dial-btn i {
        padding-left: 10px;
        font-size: 30px;
    }

      /* ============== amenities ============= */

      .amenities .container .row .heading {
        width: 90%;
        height: 45%;
      }      

      .amenities .container .row .heading h2 {
        font-size: 30px;
      }

      .amenities .container .row .heading .cursive {
        font-size: 30px;
      }

      .amenities .container .row .heading button  {
        padding-left: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 15px;
        i{
            font-size: 30px;
        }
      }

      .amenities .container .row .facilities-card-layout {
        height: 55%;
      }

      /* ============ things-to-do ============= */

      .things-to-do {
        height: 400vh;
      }
      
      .things-to-do .container .row {
        height: 100%;
        justify-content: space-between;
      }
      
      .things-to-do .container .row .heading {
        width: 100%;
        height: 40%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .things-to-do .container .row .heading .image-content {
        width: 100%;
        height: 50%;
        overflow: hidden;
        margin-right: 0;
    }
    
    .things-to-do .container .row .heading .image-content #lake {
        height: 50%;
        top: 0%;
        left: 13%;
    }

    .things-to-do .container .row .heading .image-content #lake img {
        width: 55%;
    }

    .things-to-do .container .row .heading .image-content #road {
        top: 0%;
        left: 55%;
        height: 50%;
    }

    .things-to-do .container .row .heading .image-content #road img {
        width: 55%;
    }

    .things-to-do .container .row .heading .image-content #road-2 {
        top: 44%;
        left: 55%;
        height: 50%;
    }

    .things-to-do .container .row .heading .image-content #road-2 img {
        width: 55%;
    }

    .curve {
        padding: 20px;
    }

    .things-to-do .container .row .heading .text-content {
        width: 80%;
        height: 50%;
        padding-top: 0;
        align-items: center;
    }

    .things-to-do .container .row .heading .text-content h2 {
        font-size: 40px;
    }

    .things-to-do .container .row .heading .text-content p {
        font-size: 16px;
        text-align: center;
    }

    .things-to-do .container .row .heading .text-content .more-things {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    i {
        font-size: 30px;
        padding-left: 10px;
    }
    }

    .things-to-do .container .row .things-card-layout{
        height:55%;
        justify-content: center;
        align-items: start;
        
    }

    .things-to-do .container .row .things-card-layout .things-card {
        height: 30%;
        width: 45%;
        margin: 10px;
    }

    .things-to-do .container .row .things-card-layout .things-card .card-content h3 {
        font-size: 22px;
    }

    /* ============ testimonial ============ */

    .testimonial {
        top: 580vh;
        height: 150vh;
    }

    /* ============ booking ============ */

    .booking {
        height: 150vh;
    }
    
    .booking .container .row {
        height: 90%;
        flex-direction: column;
    }

    .booking .container .row .heading {
        width: 90%;
        height: 50%;
        align-items: center;
    }

    .booking .container .row .heading h2 {
        font-size: 40px;
        text-align: center;
    }

    .booking .container .row .heading p {
        text-align: center;
    }

    .booking .container .row .image-content {
        height: 50%;
    }

    .booking .container .row .image-content .village {
        top: 0%;
    }

    .booking .container .row .image-content .vehicle {
        top: 10%;
        left: 57%;
        width: 70%;
        height: 70%;
    }

    .booking .container .row .image-content .vehicle img{
        width: 94%;
    }

    /* =========== footer =========== */

    footer {
        height: 90vh;
        top: 840vh;
        z-index: -1;
    }

    .footer-primary .container .contact-details {
        padding: 2% 4%;
    }

    .footer-primary .container .contact-details .address p {
        font-size: 15px;
    }

    .footer-primary .container .contact-details .address i {
        font-size: 20px;
        width: 40px;
        height: 40px;
    }

    .footer-primary .container .contact-details .phone p {
        font-size: 15px;
    }

    .footer-primary .container .contact-details .phone i {
        font-size: 20px;
        width: 40px;
        height: 40px;
    }
}

/* ============= @media screen - max-width : 768px =============== */

@media screen and (max-width: 767px) {
    
    /* ============ nav-top ============ */

    .nav-top {
        height: 60px;
    }

    .nav-top .container .logo {
        left: 36%;
    }

    .nav-top .container .logo img{
        width: 70%;
    }

    .nav-top .container .contact-details {
        width: 100%;
        padding: 0;
    }

    .nav-top .container .contact-details .address {
        width: 35%;
    }

    .nav-top .container .contact-details .address .icon i {
        padding: 5px;
        font-size: 14px;
    }

    .nav-top .container .contact-details .address .detail-text p {
        font-size: 12px;
    }

    .nav-top .container .contact-details .phone .icon i {
        font-size: 14px;
        padding: 5px;
    }

    .nav-top .container .contact-details .phone .detail-text p {
        font-size: 12px;
    }

    .nav-top .container .contact-details .phone {
        width: 35%;
    }

    .nav-top .container .menu-icon {
        display: inline-block;
        color: #fff;
    }

    /* ========== navbar =========== */

    .navbar {
        height: 60px;
        top: 60px
    }

    .navbar .container {
        position: relative;
        justify-content: start;
    }

    .navbar .container .nav-menu {
        width: 100%;
        height: auto;
        position: absolute;
        top: 40px;
        left: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(5px);
        padding: 15px;
        display: none;
    }

    .navbar .container .nav-menu ul {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: end;
    }

    .navbar .container .nav-menu ul li {
        padding-bottom: 20px;
        i {
            color: #000;
        }
    }

    .navbar .container .nav-menu ul li.drop-down .drop-down-menu {
        left: -180%;
        top: -110%;
        width: 24vw;
        align-items: start;
        background-color: #0000007e;
        backdrop-filter: blur(5px);

    }

    .navbar .container .nav-menu ul .drop-down-arrow {
        color: #000;
    }

    .navbar .container .nav-menu .contact-btn {
        width: 100%;
        background-color: transparent;
        margin-right: 20px;
        justify-content: end;
        i {
            font-size: 18px;
        }
    }

    

    /* ============== amenities ============= */

    .amenities {
        height: 150vh;
    }

    /* ============ things-to-do ============= */

    .things-to-do {
        height: 350vh;
        top: 120vh;
      }

      .things-to-do .container .row {
        height: 90%;
      }

      .things-to-do .container .row .heading {
        width: 100%;
        height: 25%;
      }

      .things-to-do .container .row .things-card-layout {
        height: 75%;
      }

      .curve {
        padding: 10px;
    }

    .things-to-do .container .row .heading .text-content {
        justify-content: start;
    }

    .things-to-do .container .row .heading .text-content h2 {
        font-size: 28px;
    }

    .things-to-do .container .row .heading .image-content {
        display: none;
    }

    .things-to-do .container .row .heading .image-content #lake {
        left: 3%;
        display: none;
    }

    .things-to-do .container .row .heading .image-content #lake img {
        width:72%;
    }

    .things-to-do .container .row .heading .image-content #road {
        top: 0%;
        left: 58%;
        display: none;
    }

    .things-to-do .container .row .heading .image-content #road img {
        width: 75%;
    }

    .things-to-do .container .row .heading .image-content #road-2 {
        top: 39%;
        left: 58%;
        display: none;
    }

    .things-to-do .container .row .heading .image-content #road-2 img {
        width: 75%;
    }

    .things-to-do .container .row .things-card-layout .things-card {
        height: 31%;
    }

    .things-to-do .container .row .things-card-layout .things-card .card-image {
        height: 40%;
    }

    .things-to-do .container .row .things-card-layout .things-card .card-image #distance {
        padding: 5px 10px;
        left: 53%;
        font-size: 14px;
    }

    .things-to-do .container .row .things-card-layout .things-card .card-content {
        height: 60%;
    } 

     /* ============ testimonial ============ */

     .testimonial {
        top: 550vh;
        height: 150vh;
    } 

    .testimonial .container .row .heading {
        height: 45%;
    }

    .testimonial .container .row .heading h2 {
        font-size: 28px;
    }

    .testimonial .container .row .test-card-layout {
        height: 55%;
    }
    
    /* ============= booking ============= */

    .booking {
        top: 230vh;
    }

    .booking .container .row .image-content .village {
        width: 90%;
        height: 70%;
        left: -25%;
    }

    .booking .container .row .image-content .vehicle {
        top: 10%;
        left: 50%;
        width: 75%;
        height: 70%;
    }

    /* ============= footer ============= */

    footer {
        height: 105vh;
        top: 810vh;
        z-index: -1;
    }

    .footer-primary {
        height: 80%;
    }

    .footer-primary .container .brand-menu {
        width: 65%;
    }

    .footer-primary .container .contact-details {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-secondary {
        height: 15%;
    }

    .footer-secondary .container {
        flex-direction: column;
        justify-content: center;
    }

    .footer-secondary .container p {
        padding-top: 15px;
    }

    .footer-secondary .container .designer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #copy {
        padding: 0;
    }

    .footer-secondary .container .designer p {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .footer-secondary .container .designer .designer-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
    }

}

/* ============= @media-screen - max-width : 576px =============== */

@media screen and (max-width: 575px) {
    
    /* ========== nav-top =========== */

    .nav-top .container .logo {
        left: 37%;
    }

    .nav-top .container .logo img{
        width: 55%;
    }

    /* ========== banner =========== */

    .banner .container .row .heading .cursive {
        font-size: 26px;
    }

    .banner .container .row .heading h1 {
        font-size: 40px;
        width: 70%;
    }

    .banner .container .row .heading p {
        font-size: 14px;
    }

    .banner .container .row .banner-btn .book-btn {
        padding-right: 5px;
        padding-left: 10px;
        font-size: 14px;
    }

    .banner .container .row .banner-btn .book-btn i {
        padding-left: 10px;
        font-size: 30px;
    }

    .banner .container .row .banner-btn .dial-btn {
        padding-right: 5px;
        padding-left: 10px;
        font-size: 14px;
    }

    .banner .container .row .banner-btn .dial-btn i {
        padding-left: 10px;
        font-size: 30px;
    }

    .banner .container .scroll-down {
        display: none;
    }

    /* ============ things-to-do ============= */

    .things-to-do {
        height: 360vh;
        top: 120vh;
      }

      .things-to-do .container .row .heading {
        width: 90%;
        height: 10%;
      }

      .things-to-do .container .row .heading .text-content {
        width: 100%;
        text-align: center;
    }

    .things-to-do .container .row .things-card-layout {
        overflow-y: scroll;
        height:80%;
    }

    .things-to-do .container .row .things-card-layout .things-card {
        height: 30%;
        width: 80%;
    }

    .things-to-do .container .row .things-card-layout .things-card .card-image {
        height: 55%;
    }

    .things-to-do .container .row .things-card-layout .things-card .card-image #distance {
        padding: 5px 10px;
        left: 70%;
        font-size: 14px;
    }

    .things-to-do .container .row .things-card-layout .things-card .card-content {
        height: 45%;
    } 

     /* ============ testimonial ============ */

     .testimonial {
        top: 560vh;
        height: 150vh;
    } 

    .testimonial .container .row .heading {
        height: 45%;
    }

    .testimonial .container .row .heading h2 {
        font-size: 28px;
    }

    .testimonial .container .row .test-card-layout {
        height: 55%;
    }

    /* ============= booking ============== */

    .booking .container .row .booking-btn {
        flex-direction: column;
    }

    .booking .container .row .booking-btn .book-btn {
        padding: 4px 4px 4px 0;
        padding-left: 10px !important;
        font-size: 14px;
        i {
            padding-left: 5px;
            font-size: 26px;
        }
        margin-bottom: 10px;
    }

    .booking .container .row .booking-btn .dial-btn {
        padding: 4px 4px 4px 0;
        padding-left: 10px !important;
        font-size: 14px;
        i {
            padding-left: 5px;
            font-size: 26px;
        }
    }

    .booking .container .row .image-content .village {
        width: 100%;
        height: 60%;
        left: -35%;
    }

    .booking .container .row .image-content .vehicle {
        top: 10%;
        left: 50%;
        width: 75%;
        height: 65%;
    }

    .booking .container .row .image-content .vehicle img {
        width: 100%;
        top: 5%;
    }

     /* ============= footer ============= */

     footer {
        height: 105vh;
        top: 820vh;
        z-index: -1;
    }

    .footer-primary {
        height: 80%;
    }

    .footer-primary .container .brand-menu {
        width: 75%;
    }
    
}

/* ============= @media-screen - max-width : 480px =============== */

@media screen and (max-width: 480px) {
    /* ========= nav-top ========== */

    .nav-top .container .logo {
        left: 38%;
        width: 45%;
    }

    .nav-top .container .contact-details {
        justify-content: start;
    }

    .nav-top .container .contact-details .address {
        width: unset;
    }

    .nav-top .container .contact-details .address .detail-text p {
        display: none;
    }

    .nav-top .container .contact-details .phone {
        width: unset;
    }

    .nav-top .container .contact-details .phone .detail-text p {
        display: none;
    }

    /* ========== navbar =========== */

    .navbar {
        height: 50px;
        top: 60px
    }

    .navbar .container .nav-menu {
        top: 0;
    }

    .navbar .container .nav-menu ul li {
        padding-bottom: 10px;
        i {
            color: #000;
        }
    }

    .navbar .container .nav-menu ul li a {
        font-size: 14px;
    }

    .navbar .container .nav-menu ul li.drop-down .drop-down-menu {
        left: -270%;
        top: -150%;
        width: 40vw;
        padding: 10px;
    }

    .navbar .container .nav-menu ul li.drop-down .drop-down-menu li a {
        font-size: 14px;
        i {
            color: #fff;
        }
    }

    .navbar .container .nav-menu ul li.drop-down .drop-down-menu li.view a {
        font-size: 16px;
    }

    /* ========== banner =========== */

    .banner .container .row .heading {
        width: 100%;
    }

    .banner .container .row .heading .cursive {
        font-size: 22px;
    }

    .banner .container .row .heading h1 {
        width: 100%;
        font-size: 40px;
    }

    .banner .container .row .heading p {
        width: 100%;
        font-size: 14px;
    }

    .banner .container .row .banner-btn .book-btn {
        padding-right: 4px;
        padding-left: 8px;
        font-size: 13px;
    }

    .banner .container .row .banner-btn .book-btn i {
        padding-left: 5px;
        font-size: 24px;
    }

    .banner .container .row .banner-btn .dial-btn {
        padding-right: 4px;
        padding-left: 8px;
        font-size: 13px;
    }

    .banner .container .row .banner-btn .dial-btn i {
        padding-left: 5px;
        font-size: 24px;
    }

     /* ============== amenities ============= */

     .amenities {
        height: 150vh;
    }

    .amenities .container .row {
        height: 80%;
    }

    .amenities .container .row .heading {
        height: 52%;
    }

    .amenities .container .row .heading h2 {
        font-size: 24px;
    }
    
    .amenities .container .row .heading .cursive {
        font-size: 24px;
    }

    .amenities .container .row .heading p {
        font-size: 14px;
    }
    
    .amenities .container .row .heading button {
        padding-right: 4px;
        padding-left: 10px;
        font-size: 13px;
        i {
            padding-left: 5px;
        font-size: 24px;
        }
    }

    .amenities .container .row .facilities-card-layout {
        height: 48%;
    }

    /* ============ things-to-do ============= */

    .things-to-do {
        height: 360vh;
        top: 120vh;
      }

      .things-to-do .container .row {
        height: 90%;
        width: 100%;
      }

      .things-to-do .container .row .heading {
        width: 90%;
        height: 25%;
      }

      .things-to-do .container .row .heading .text-content {
        width: 100%;
        height: 100%;
        text-align: center;
        justify-content: center;
    }

    .things-to-do .container .row .things-card-layout .things-card {
        height: 28%;
        width: 100%;
    }

    .things-to-do .container .row .things-card-layout .things-card .card-image {
        height: 45%;
    }

    .things-to-do .container .row .things-card-layout .things-card .card-content {
        height: 55%;
    } 

    /* ============ testimonial ============ */

    .testimonial {
        top: 550vh;
        height: 170vh;
    } 
    
    .testimonial .container .row .heading {
        height: 40%;
        width: 100%;
    }

    .testimonial .container .row .heading h2 {
        font-size: 24px;
        text-align: center;
        padding-bottom: 15px;
    }

    .testimonial .container .row .heading p {
        font-size: 14px;
    }

    .testimonial .container .row .test-card-layout {
        height: 45%;
    }

    .testimonial .container .row .test-card-layout .swiper .swiper-wrapper .swiper-slide .test-card .card-heading .user-desc .initial {
        font-size: 30px;
        width: 50px;
        height: 50px;
    }

    .testimonial .container .row .test-card-layout .swiper .swiper-wrapper .swiper-slide .test-card .card-heading .user-desc .user-info h3 {
        font-size: 20px;
        padding-bottom: 5px;
    }

    .testimonial .container .row .test-card-layout .swiper .swiper-wrapper .swiper-slide .test-card .card-heading .user-desc .user-info p {
        font-size: 14px;
    }

    .testimonial .container .row .test-card-layout .swiper .swiper-wrapper .swiper-slide .test-card .card-content p {
        font-size: 14px;
    }

    /* ============= booking ============== */

    .booking {
        height: 80vh;
    }

    .booking .container .row .heading {
        height: 100%;
    }

    .booking .container .row .heading h2 {
        font-size: 24px;
    }

    .booking .container .row .image-content {
        display: none;
    }

     /* ============= footer ============= */

     footer {
        height: 105vh;
        top: 750vh;
        z-index: -1;
    }

    .footer-primary {
        height: 80%;
    }

    .footer-primary .container .brand-menu {
        width: 95%;
    }

    .footer-primary .container .brand-menu .list-item a {
        font-size: 16px;
    }

    .footer-primary .container .contact-details {
        flex-direction: row;
        padding: 20px 0;
    }

    .footer-primary .container .contact-details .address i {
        font-size: 14px;
    }

.footer-primary .container .contact-details .address p {
   display: none;
}

.footer-primary .container .contact-details .phone i {
    font-size: 14px;
}

.footer-primary .container .contact-details .phone p {
display: none;
}

#copy {
    padding: 0;
    text-align: center;
    line-height: 1.5;
    padding: 10px 0;
}

.footer-secondary .container .designer p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.footer-secondary .container .designer .designer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
    
}